.featured-video-holder {
    padding-top: var(--df-margin-unit);
}

.videos-carousel .holder {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: visible;
}

.videos-carousel .holder>* {
    min-width: calc(100% + 30px);
    margin-left: -15px;
}

.slide-item {
    padding: 1.5rem 1.5rem 3rem;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
}

.slide-item>* {
    margin: 0 auto !important;
}

.carousel-prev-button,
.carousel-next-button {
    position: relative;
    display: block;
    font-size: 0;
    color: transparent !important;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 150 150'%3E%3Cpath fill='%23fff' d='M105.5 3.2L35.8 75l69.8 71.8 8.7-9L53.2 75l61.1-62.8z'/%3E%3C/svg%3E") no-repeat center !important;
    width: 7rem;
    height: 4rem;
    padding: 0 !important;
    transform: scale(.8);
    left: -8rem;
}

.carousel-next-button {
    left: auto;
    right: -8rem;
    transform: scale(.8) scaleX(-1);
}

.carousel-paging-dots {
    top: 1rem !important;
}

@media (min-width: 580px) {
    .slide-item {
        width: 14.7em;
    }
}

@media (min-width: 800px) {
    .slide-item {
        width: 13.2em;
    }
}

@media (min-width: 992px) {
    .slide-item {
        width: 31.3rem;
    }
}

@media (min-width: 1200px) {
    .slide-item {
        width: 37.3rem;
    }
}

@media (min-width: 1440px) {
    .slide-item {
        width: 39rem;
    }
}

@media (min-width: 1600px) {
    .slide-item {
        width: 45rem;
    }
}

@media (max-width: 1280px) {

    .carousel-prev-button,
    .carousel-next-button {
        transform: scale(.8);
        left: -5rem;
    }

    .carousel-next-button {
        left: auto;
        right: -5rem;
        transform: scale(.8) scaleX(-1);
    }
}

@media (max-width: 1100px) {

    .carousel-prev-button,
    .carousel-next-button {
        transform: scale(.6);
        left: -4.5rem;
    }

    .carousel-next-button {
        left: auto;
        right: -4.5rem;
        transform: scale(.6) scaleX(-1);
    }
}

@media (max-width: 600px) {

    .carousel-prev-button,
    .carousel-next-button {
        left: 0;
    }

    .carousel-next-button {
        left: auto;
        right: 0;
    }
}

@media (max-width: 440px) {

    .slide-item {
        width: 32rem;
    }

    .carousel-prev-button,
    .carousel-next-button {
        left: -1rem;
    }

    .carousel-next-button {
        left: auto;
        right: -1rem;
    }

    .slide-item {
        padding: 1.5rem 6rem 3rem;
    }
}