.featured-video-holder .video-holder {
    margin-top: calc(var(--df-margin-unit) * 2);
}

/* .videos-carousel .holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: calc(var(--df-margin-unit) * 2);
    row-gap: var(--df-margin-unit);
} */

.videos-carousel .holder {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: visible;
}

.videos-carousel .holder>* {
    min-width: calc(100% + 30px);
    margin-left: -15px;
}

.slide-item {
    padding: 1.5rem 1.5rem 3rem;
}

.carousel-prev-button,
.carousel-next-button {
    position: relative;
    display: block;
    font-size: 0;
    color: transparent !important;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 150 150'%3E%3Cpath fill='%23fff' d='M105.5 3.2L35.8 75l69.8 71.8 8.7-9L53.2 75l61.1-62.8z'/%3E%3C/svg%3E") no-repeat center !important;
    width: 7rem;
    height: 4rem;
    padding: 0 !important;
    transform: scale(.8);
    left: -8rem;
}

.carousel-next-button {
    left: auto;
    right: -8rem;
    transform: scale(.8) scaleX(-1);
}

.carousel-paging-dots {
    top: 1rem !important;
}

@media (max-width: 1280px) {

    .carousel-prev-button,
    .carousel-next-button {
        transform: scale(.8);
        left: -5rem;
    }

    .carousel-next-button {
        left: auto;
        right: -5rem;
        transform: scale(.8) scaleX(-1);
    }
}

@media (max-width: 1100px) {

    .carousel-prev-button,
    .carousel-next-button {
        transform: scale(.6);
        left: -4.5rem;
    }

    .carousel-next-button {
        left: auto;
        right: -4.5rem;
        transform: scale(.6) scaleX(-1);
    }
}

@media (max-width: 600px) {

    .carousel-prev-button,
    .carousel-next-button {
        left: 0;
    }

    .carousel-next-button {
        left: auto;
        right: 0;
    }
}

@media (max-width: 992px) {}

@media (max-width: 400px) {}