.audio-player-custom {
    width: 100%;
    text-shadow: none;
    color: #000;
    overflow: hidden;
    border-radius: var(--df-border-radius);
}

.audio-player-custom div:has(>button[aria-label="track-list"]) {
    scale: 2;
    padding: 2rem 0;
}

.audio-player-custom ul li {
    position: relative;
    font-size: 2rem;
    min-height: 7rem;
    padding-left: 5rem;
    border-top: 1px solid #ccc;
}

.audio-player-custom ul li:has(svg[class="ef10a4"]) {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.audio-player-custom li button[aria-label="play"] {
    width: 100%;
    position: absolute;
    left: 1.5rem;
    align-items: center;
    justify-content: left;
}

@media (max-width: 992px) {
    .audio-player-custom div:has(>button[aria-label="track-list"]) {
        scale: 1.4;
        padding: 1.3rem 0;
    }

    .audio-player-custom ul li {
        font-size: 1.6rem;
        min-height: 6rem;
        padding-left: 5rem;
    }
}