.video-holder {
    width: 100%;
}

.video-iframe {
    border: none;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .6);
    background: #333;
    overflow: hidden;
    border-radius: var(--df-border-radius);
    border: 1px solid #222;
}

.responsive-video {
    position: relative;
    min-width: 10rem;
    max-width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.responsive-video .video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.responsive-video.dynamic {
    cursor: pointer;
    transition: transform ease .3s;
}

.responsive-video.dynamic:hover {
    transform: scale(1.01);
}

.responsive-video.dynamic .video-iframe {
    pointer-events: none;
}