.page-footer {
  clear: both;
  margin-top: calc(var(--df-margin-unit) * 4);
  margin-bottom: calc(var(--df-margin-unit) * 2);
  color: var(--text-light-color);
}

.logo-holder img {
  opacity: .5;
}

.footer-navigation ul {
  margin: 0;
  text-align: right;
  padding: 0;
}

.footer-navigation ul li {
  display: inline-block;
}

.footer-navigation ul li a {
  font-size: 1.6rem;
  padding: 0 0 0 3rem;
  color: #fff;
}

.copyright-column p {
  margin: 0;
}

@media (max-width: 992px) {
  .page-footer {
    text-align: center;
  }

  .copyright-column,
  .logo-column,
  .nav-column {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  .logo-column {
    order: -2;
  }

  .nav-column {
    order: -1;
    margin: 2rem 0;
  }

  .footer-navigation ul {
    text-align: center;
  }

  .footer-navigation ul li {
    display: block;
  }

  .footer-navigation ul li a {
    padding: .8rem 0;
  }
}

/* Special Bgs */
.featured-backgrounds {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

.featured-backgrounds:after {
  content: '';
  position: fixed;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 42%, rgba(17, 15, 15, 0) 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
}

.featured-backgrounds .holder {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: .50;
  z-index: 1;
}

.featured-backgrounds .image-holder {
  position: absolute;
  width: auto;
  max-width: none;
  min-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(1);
  transform-origin: center center;
  transition: all ease 2s;
  animation: zoom linear 60s infinite;
  opacity: 0;
  z-index: 1;
  filter: blur(2px);
}

.featured-backgrounds .image-holder.active {
  opacity: 1;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}