/* #### Shared Page Styles #### */

.page-sub-header {
  display: block;
  width: 100%;
}

.page-title {
  margin-bottom: calc(var(--df-margin-unit) * 2);
}

.page-title-image {
  display: block;
  margin: 2rem auto 0;
  max-width: 80%;
}

.featured-cover-image {
  max-width: 70rem;
  margin: 0 auto;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.3));
}

.inner-subtitle {
  font-size: 90%;
  position: relative;
  font-weight: normal;
  top: -5rem;
}

.template-default,
.template-fullwidth,
.page-content {
  width: 100%;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(var(--df-margin-unit) * 3);
  margin-bottom: calc(var(--df-margin-unit) * 2);
}

.section-heading .side-link {
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 992px) {

  .page-title-image {
    max-width: 100%;
  }

  .featured-cover-image {
    max-width: 100%;
  }

  .inner-subtitle {
    top: -2rem;
  }

  .section-heading {
    margin-top: calc(var(--df-margin-unit) * 2);
    margin-bottom: var(--df-margin-unit);
  }

  .section-heading .side-link {
    font-size: 1.4rem;
  }
}